[submodule "src/models/src/models/hovernet"]
	path = src/models/src/models/hovernet
	url = https://github.com/lucas-sancere/hover_net
[submodule "src/models/hovernet"]
	path = src/models/hovernet
	url = https://github.com/lucas-sancere/hover_net
