
#Folders
scripts/multi_launch
scripts/archive
scripts/training-tests
scripts/cross_validation_patid
scripts/exploratory_analyses
docs/devnotes
src/archive
data 
docs4paper
dev-configs
.idea

#Files
*.DS_Store
._*
._.gitignore
._README.md
._supplements

archive-env.yml
temp.py
test.pdf

# In case user run example
example/data
example/checkpoints
example/processing
example/cache

