#Folders

scripts/multi_launch
scripts/archive
scripts/training-tests
scripts/cross_validation_patid
src/archive 
docs4paper
.idea

#Files

*.DS_Store
*._.DS_Store
*._
scripts/usecase1bisrec_collect_features_consistently.py
temp.py
